html {
    background-color: #E63946;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

.column {
    background-color: #FFEDDF;
    border-radius: 25px;
}

.age {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.upcoming-task {
    font-family: 'Nunito', sans-serif;
    color: #A8A8A8;
}

.bold {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.button {
    background-color: #4F5D75;
    border-width: 0;
    color: #FFEDDF;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
}

table, tbody, tr, th, td{
    background-color: #00000000 !important;
    margin-left:auto;
    margin-right:auto;
    table-layout: fixed;
    width: 90%;
}

.table td, .table th {
	border: 1px solid #82846D;
	border-width: 0 0 1px;
	padding: .5em .75em;
	vertical-align: top;
}

.small-column {
    width: 25%;
}

.medium-column {
    width: 30%;
}