<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TODO Info</title>
  <link rel="icon" type="image/svg+xml" href="{{ print .RedirectURI "static/images/favicon.svg" }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <link rel="stylesheet" href="{{ print .RedirectURI "static/styles/style.css" }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Nunito:wght@800&display=swap" rel="stylesheet">
</head>

<body>
<section class="section">
  <div class="container is-max-desktop">
    <!-- Title -->
    <div class="columns is-centered py-3 px-5">
      <div class="column is-half">
        <h1 class="title is-size-2 has-text-centered">TODO Info</h1>
      </div>
    </div>

    <div class="columns is-centered py-3">
      <div class="column is-three-quarters">
        <div class="content px-3 py-3">
          <p><span class="bold">TODO Info</span> helps you find old tasks from <a href="https://todo.microsoft.com">Microsoft To Do</a>.</p>
          <p>It calculates the age of tasks (measure in days) and sets a category for every task:</p>

          <ul>
            <li>😊 - new task</li>
            <li>😏 - normal task</li>
            <li>🥱 - old task</li>
            <li>🤢 - very old task</li>
          </ul>

          <p>It is <a href="https://github.com/uchr/ToDoInfo">opensource</a> and does not collect any information.</p>
        </div>
        <div class="content has-text-centered">
          {{if .IsAuthFailed}}
          <p class="has-text-centered">Authorization error. Please try again.</p>
          <p class="has-text-centered">If that doesn't help, contact me at <a href="https://twitter.com/uchr_">https://twitter.com/uchr_</a>
          </p>
          {{end}}
          <a class="button is-medium is-rounded" href="{{ print .RedirectURI "login" }}">Log in</a>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>