<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo Info</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" href="/static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Nunito:wght@800&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="columns is-mobile is-centered py-3 pt-6">
        <div class="column is-one-third">
            <h1 class="title is-size-2 has-text-centered">ToDo Info</h1>
        </div>
    </div>


    <div class="columns is-mobile is-centered py-3">
        <div class="column is-two-thirds">
            <h2 class="subtitle is-size-3 has-text-centered">{{.TotalAge}} days</h2>

            <div class="columns is-centered">
                <div class="column">
                    <table class="table is-fullwidth">
                        <tbody>
                        {{range .ListAges}}
                        <tr>
                            <td>{{.Title}}</td>
                            <td class="age">{{.Age}} days</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-mobile is-centered py-3">
        <div class="column is-two-thirds">
            <h2 class="subtitle is-size-3 has-text-centered">Oldest tasks</h2>

            <div class="columns is-centered">
                <div class="column">
                    <table class="table is-fullwidth">
                        <tbody>
                        {{range .OldestTasks}}
                        <tr>
                            <td>{{.TaskRottenness}}</td>
                            <td>{{.TaskList}}</td>
                            <td>{{.TaskName}}</td>
                            <td class="age">{{.Age}} days</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="columns is-mobile is-centered py-3 pb-6">
        <div class="column is-two-thirds">
            <h2 class="subtitle is-size-3 has-text-centered">Rotten tasks</h2>

            <div class="columns is-centered">
                <div class="column">
                    <table class="table is-fullwidth">
                        <tbody>
                        {{range .RottenTasks}}
                        <tr>
                            <td>{{.TaskRottenness}}</td>
                            <td>{{.TaskList}}</td>
                            <td>{{.TaskName}}</td>
                            <td class="age">{{.Age}} days</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>