<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo Info</title>
    <link rel="icon" type="image/svg+xml" href="{{ print .RedirectURI "static/images/favicon.svg" }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link rel="stylesheet" href="{{ print .RedirectURI "static/styles/style.css" }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Nunito:wght@800&display=swap"
          rel="stylesheet">
</head>
<body>
<section class="section">
    <div class="container is-max-desktop">
        <!-- Title -->
        <div class="columns is-centered py-3 pl-5 pr-5">
            <div class="column is-half">
                <h1 class="title is-size-2 has-text-centered">TODO Info</h1>
            </div>
        </div>

        <!-- Lists stats -->
        <div class="columns is-centered py-3">
            <div class="column task-content">
                <h2 class="subtitle is-size-3 has-text-centered">{{.TotalAge}} days</h2>

                <table class="table is-hidden-touch">
                    <thead>
                        <tr>
                            <th class="small-column">Age</th>
                            <th class="small-column">List</th>
                            <th>Oldest task</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .ListAges}}
                    <tr>
                        <td class="small-column age">{{.Age}} days</td>
                        <td class="small-column">{{.Title}}</td>
                        <td>{{.OldestTask}} <span class="age">({{.OldestTaskAge}} days)</span></td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>

                <div class="content is-hidden-desktop">
                    {{range .ListAges}}
                    <dl>
                        <dt>{{.Title}} <span class="age">{{.Age}} days</span></dt>
                        <dd>{{.OldestTask}} <span class="age">({{.OldestTaskAge}} days)</span></dd>
                    </dl>
                    {{end}}
                </div>
            </div>
        </div>

        <!-- Rotten list -->
        <div class="columns is-centered py-3">
            <div class="column task-content">
                <h2 class="subtitle is-size-3 has-text-centered">Rotten tasks</h2>

                <table class="table is-hidden-touch">
                    <thead>
                    <tr>
                        <th class="small-column">Age</th>
                        <th class="small-column">List</th>
                        <th>Task</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .RottenTasks}}
                    <tr>
                        <td class="small-column age">{{.TaskRottenness}} {{.Age}} days</td>
                        <td class="small-column">{{.TaskList}}</td>
                        <td>{{.TaskName}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>

                <div class="content is-hidden-desktop">
                    {{range .RottenTasks}}
                    <dl>
                        <dt>{{.TaskRottenness}} <span class="age">{{.Age}} days</span></dt>
                        <dd>{{.TaskName}} ({{.TaskList}})</dd>
                    </dl>
                    {{end}}
                </div>
            </div>
        </div>


        <!-- Oldest task list -->
        <div class="columns is-centered py-3">
            <div class="column task-content">
                <h2 class="subtitle is-size-3 has-text-centered">Oldest tasks</h2>

                <table class="table is-hidden-touch">
                    <thead>
                    <tr>
                        <th class="small-column">Age</th>
                        <th class="small-column">List</th>
                        <th>Task</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .OldestTasks}}
                    <tr>
                        <td class="small-column age">{{.TaskRottenness}} {{.Age}} days</td>
                        <td class="small-column">{{.TaskList}}</td>
                        <td>{{.TaskName}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>

                <div class="content is-hidden-desktop">
                    {{range .OldestTasks}}
                    <dl>
                        <dt>{{.TaskRottenness}} <span class="age">{{.Age}} days</span></dt>
                        <dd>{{.TaskName}} ({{.TaskList}})</dd>
                    </dl>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>